#closeCartModal{
    display: none;
}

#showCartModal{
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    background: #00000057;
    z-index: 2;
}

#cart-aside-modal{
    position: relative;
    width: 30%;
    height: 65%;
    max-width: 335px;
    text-align: center;
    background: rgb(255, 255, 255);
}

.close-wrapper{
    position: sticky;
    top: 0;
    height: 10%;
    display: flex;
    justify-content: flex-end;
    z-index: 3;
}

.close, .close:hover{
    color: #000;
    font-weight: 700;
    cursor: pointer;
}

#cartList{
    height: 90%;
    width: 100%;
    padding: 0 3%;
    overflow-y: auto;
}

.list-description{
    display: flex;
}

.cart-list-item{
    display: flex;
}

.cart-food-item{
    width: 70%;
    text-align: left;
}

.cart-quantity-heading, .price-heading{
    width: 15%;
    text-align: left;
}

.foodName{
    width: 70%;
    text-align: left;
}

.foodQuantity, .Price, .Remove{
    width: 10%;
}

.foodQuantity, .Price{
    font-size: 0.85rem;
    margin: 1.5px;
    background: #c7ab5a;
    border-radius: 2px;
    cursor: pointer;
}

.Remove{
    display: flex;
    justify-content: flex-end;
}

.bin, .bin:hover{
    color: red;
    font-weight: 700;
    cursor: pointer;
}

.order-btn{
    position: absolute;
    left: 50%;
    bottom: 1%;
    transform: translateX(-50%);
    width: 80%;
    height: 8%;
    border: none;
    background: #00bcc5;
    color: #fff;
    font-size: 1.03rem;
    border-radius: 5px;
    cursor: pointer;
}