.Homepage{
    height: 100%;
    display: flex;
    overflow: hidden;
}

#Menu-Section{
    height: 100%;
    width: 95.5%;
    padding: 0 2%;
    overflow-y: auto;
    background: #1D1C1C;
}

#Menu-Section::-webkit-scrollbar{
    width: 10px;
    height: 100px;
    color: #fff;
}

#Menu-Section::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 10px;
}

#Introductory-header{
    display: flex;
    align-items: center;
    height: 8%;
    margin-top: 1%;
}

.school-name-heading{
    width: 25%;
    font-size: 2rem;
    color: #fff;
    -webkit-text-shadow: 0 5px 12px 2px #fff;
    -moz-text-shadow: 0 5px 12px 2px #fff;
    text-shadow: 0 5px 12px 2px #fff;
}

/*Following 'glitch' styles focus on the .school-name-heading to make the heading glitch*/
.glitch-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    background-color: #1d1c1c;
 }
 
 .glitch {
    position: relative;
    font-weight: 700;
    line-height: 1.2;
    font-size: 2.5rem;
    color: #fff;
    letter-spacing: 5px;
    z-index: 1;
 }
 
 .glitch:before,
 .glitch:after {
    display: block;
    content: attr(data-glitch);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
 }
 
 .glitch:before {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #0ff;
    z-index: -1;
 }
 
 .glitch:after {
    animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #ff00ff;
    z-index: -2;
 }
 
 @keyframes glitch-color {
    0% {
       transform: translate(0);
    }
 
    20% {
       transform: translate(-3px, 3px);
    }
 
    40% {
       transform: translate(-3px, -3px);
    }
 
    60% {
       transform: translate(3px, 3px);
    }
 
    80% {
       transform: translate(3px, -3px);
    }
 
    to {
       transform: translate(0);
    }
}

#search-cart{
    width: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#search-form{
    margin-right: 10%;
}

#search{
    padding: 5%;
    border-radius: 5px;
    background: #808080a1;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
}

.cart-container{
    display: flex;
    align-items: center;
}

.cart{
    color: #fff !important;
    font-weight: 600 !important;
    cursor: pointer;
}


/*Food Content Section Styles*/
#Food-Content-Section{
    height: 100%;
    margin-top: 2%;
}

#Food-Content-heading-wrapper{
    display: flex;
    align-items: center;
    height: 5%;
    color: #fff;
}

#Food-Content-sub-heading{
    color: #fff;
}

.hungry-img{
    display: block;
    height: 100%;
    object-fit: contain;
    margin-left: 1%;
}

/*Food Filtering Styles*/
#food-filtering{
    height: 10%;
}

#food-filtering-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    height: 100%;
}

.food-filter-item{
    position: relative;
    height: 100%;
    width: 5%;
    max-width: 48px;
    padding: 1%;
    border-radius: 25px;
    background: #41c485;
    -webkit-box-shadow: 0 3px 12px 2px #41c485;
    -moz-box-shadow: 0 3px 12px 2px #41c485;
    box-shadow: 0 3px 12px 2px #41c485;
    color: #fff;
    font-weight: 590;
    text-align: center;
    transition: .4s;
    cursor: pointer;
}

.food-filter-item:hover{
    opacity: 0.8;
    transform: scale(1.03);
}

.food-filter-icon-wrapper{
    background: #fff;
    border-radius: 100%;
    max-width: 32px;
    max-height: 32px;
    margin: 0 auto;
    transition: .4s;
}

.food-filter-item:hover .food-filter-icon-wrapper{
    border: 3px solid #000;
}

.filter-image{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.filter-text{
    font-size: 0.8rem;
    font-weight: 595;
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: -10%;
    transform: translate(-50%, -50%);
}



/*RESPONSIVE ACTIVITY FOR ALL STYLES IN HOMEPAGE*/
@media screen and (max-width: 540px) {
    #Introductory-header{
        height: 10%;
    }

    #search-cart{
        height: 100%;
        justify-content: space-between;
    }

    #search-form{
        height: 65%;
        width: 70%;
    }

    #search-form input{
        height: 100%;
        display: block;
        width: 100%;
    }

    #food-filtering-list{
        height: 60% !important;
    }

    .food-filter-item{
        width: 10% !important;
    }

    #nav-wrapper{
        width: 10.5% !important;
    }

    #Menu-Section{
        width: 89.5%;
    }

    #Food-Content-Section{
        overflow: auto;
    }

    .glitch {
        color: #fff;
        font-size: 1rem;
        font-weight: 700;
        /* letter-spacing: 5px; */
        line-height: 1.2;
        position: relative;
        z-index: 1;
        height: 100%;
     }
    
}