#nav-wrapper{
    height: 100%;
    width: 4.5%;
    background-color: #000000;
    color: #fff;
    position: relative;
}

.nav-sub-wrapper{
    height: 95%;
}

#school-logo{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    transition: .5s;
}

#school-logo:hover{
    transform: scale(1.03);
}

#nav-list{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logo-item{
    height: 7%;
    background: #000344;
    text-align: center;
    padding: 2%;
}

/*trick: center 2nd list item*/
.flex-item{
    margin: auto 0;
    text-align: center;
}

/*styles applied to all google material icons*/
.material-symbols-outlined{
    font-size: 26px;
}

.material-symbols-outlined:hover{
    font-weight: 700;
    color: #fff;
}

.sub-nav-item{
    margin: 15% auto;
    cursor: pointer;
    border-radius: 5px; 
}

#logout-wrapper{
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 5%;
    text-align: center;
    cursor: pointer;
}

#tooltip{
    display: none;
    transition: .4s;
}

#logout-wrapper:hover #tooltip{
    display: block;
    position: absolute;
    left: 110%;
    color: #fff;
    background: black;
    font-size: 0.8rem;
    padding: 0 10%;
    height: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: opacIn .5s;
}

@keyframes opacIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}